In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy.optimize import minimize

url_data = "https://raw.githubusercontent.com/YBI-Foundation/Dataset/main/Salary%20Data.csv"

data = pd.read_csv(url_data)
data.head()

   Experience Years  Salary
0               1.1   39343
1               1.2   42774
2               1.3   46205
3               1.5   37731
4               2.0   43525